.col-md-12 {
  padding-bottom: 3px;
}
.workbar {
  padding: 20px;
  height: 120px;
  background: #fff;
}
.workbar #greet {
  display: inline-block;
  margin-top: 0;
}
.workbar .username {
  font-size: 24px;
}
.workbar .position {
  margin-left: 10px;
  color: #adadad;
}
.project-frame, .notice-frame {
  padding: 15px;
  height: 400px;
}
.project-content, .notice-content {
  padding: 10px;
  height: 100%;
  background: #fff;
  border-radius: 5px;
}
.calendar-frame {
  
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
}
ul{
  list-style: none;
}
#schedule-box{
  margin-left: 0;
  padding: 35px 0;
  width: 100%;
  font-size: 13px;
  background: #fff;
  border-radius: 5px;
}
.schedule-hd{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.today{
  flex: 1;
  text-align: center;
}
.ul-box{
  padding: 0 10px;
  overflow: hidden;
}
.ul-box > li{
  float: left;
  width: 14.28%;
  text-align: center;
  padding: 5px 0;
}
.other-month{
  color: #999999;
}
.current-month{
  color: #333333;
}
.today-style{
  border-radius: 50%;
  background: #58d321;
}
.arrow{
  cursor: pointer;
}
.dayStyle{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
.current-month > .dayStyle:hover{
  background: #00BDFF;
  color: #ffffff;
}
.today-flag{
  background: #00C2B1;
  color: #fff;
}
.boxshaw{
  box-shadow: 2px 2px 15px 2px #e3e3e3;
}
.selected-style {
  background: #00BDFF;
  color: #ffffff;
}
.project-frame .project-content  h3 {
  display: inline-block;
  margin-top: 0;
}
.project-content .table span {
  float: right;
}
.project-content .table td {
  padding: 14px;
  height: 150px;
  transition:all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.project-content .table td:hover {
  background: rgb(0, 189, 255, 0.1);
  transition:all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.notice-frame .notice-content h3 {
  margin-top: 0;
}
.notice-frame .notice-content td {
  padding: 18px;
  font-size: 18px;
}